.hidden{
    display:none !important;
}

#signin-screen{

    position:fixed;

    left:0;
    top:0;

    width:100vw;
    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:url("../images/icons/magiczhoumian123.jpg");

    background-size:cover;

    backdrop-filter: blur(5px);

    z-index:99999;

}
.signin-box{

    width:420px;

    text-align:center;

}
.signin-avatar{

    width:120px;

    height:120px;

    border-radius:50%;

    margin-bottom:20px;

}
#signin-name{

    color:white;

    font-size:36px;

    margin-bottom:25px;

}
#signin-password{

    width:320px;

    height:42px;

    margin-bottom:15px;

    padding-left: 15px;

}
#signin-btn{

    width:320px;

    height:42px;

    border:none;

    border-radius:6px;

    background:#0d6efd;

    color:white;

    font-size:18px;

    cursor:pointer;

}
#signin-btn:hover{

    background:#0056d6;

}
.user-list{

    position:absolute;

    left:25px;

    bottom:25px;

}
.user-item{

    display:flex;

    align-items:center;

    gap:12px;

    margin-top:10px;

    cursor:pointer;

    color:white;

}
.user-item img{

    width:42px;

    height:42px;

    border-radius:50%;

}
.active{

    opacity:1;

}

.user-item{

    opacity:.6;

}
